:root
{
    --vermelho: #E50914;
    --preto: #141414;
}

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    margin-block: 0;
}

/* elementos base */
body
{
    background-color: var(--preto);
    font-family: 'Netflix Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
    color: white;
}

header .container
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 22px 35px;
}

header .logo
{
    margin-left:  5px;
    color: var(--vermelho);
    font-family: 'Arial Black';
    font-size: 30px;

    height: 3.5vh;
    width: 10%;
    background-image: url(/img/logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

header nav
{
    width: 100%;
    margin-left: 20px;
}

header nav a
{
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover
{
    color: #FFF;
}

/* Filme Principal */

.filme-principal
{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,.50) 100%), url('/img/capa-house.jpg');
    height: 400px;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.filme-principal .descricao
{
    margin-top: 10px;
    margin-bottom: 40px;
}

.filme-principal .titulo
{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Netflix Sans','Helvetica Neue', Helvetica, Arial, sans-serif;
}

#btn_voltar
{
    background-color: black;
    color: white;
    padding: 2px 30px;
}

#btn_voltar i
{
    font-size: 50px;
}


.botao
{   
    padding: 10px 30px;
    margin-right: 15px;
    font-size: 16px;

    cursor: pointer;
    transition: .4s ease all;
    border-radius: 6px;
    margin-left: 20px;
}

.botao:nth-child(1)
{
    background-color: white;
    border: none;
    color: black;
}

.botao:nth-child(2)
{
    background-color: rgb(109, 109, 110);
    border: none;
    color: white;
    font-weight: bold;
}

.botao:nth-child(1):hover
{
    background-color: rgba(255, 255, 255, 0.75);
    color: black;
}

.botao:nth-child(2):hover
{
    background-color: rgba(109, 109, 110, 0.4);
    color: white;
    font-weight: bold;
}

.botao i
{
    margin-right: 8px;
    font-size: 30px;
    vertical-align: sub;
}

.filme-principal .container
{
    width: 70%;
    margin-left: 20px;
}

.box-filme
{
    height: 100%;
    width: 100%;
    display: block;
}

.owl-carousel .owl-nav
{
    left:50%;
    top:calc(50% - 21px);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position:absolute;

    width: 100%;
    display: flex;
    justify-content: space-between;
}

.owl-carousel .owl-nav button.owl-next, 
.owl-carousel .owl-nav button.owl-prev
{
    padding: 30px 20px !important;
    font-size: 70px !important;
    background-color: rgba(0,0,0,.50);
}

.owl-theme .owl-nav [class*=owl-]:hover
{
    background: rgb(175 175 175 / 70%);
}

.carrosel-filmes
{
    margin-top: 10px;
}

.carrosel-filmes .titulo
{
    margin: 15px 10px;
    font-size: 1.4vw;
}


/* NAVBAR RESPONSIVO */
.dropdown 
{
    position: relative;
    display: inline-block;
    width: 100%;
    margin-left: 1%;
}

.dropbtn 
{
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 2.4vw;
    border: none;
}

.dropdown-content 
{
    display: none;
    position: absolute;
    background-color: rgba(0,0,0,0.8);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a 
{
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover 
{
    background-color: rgba(0,0,0,0.4);
}

.dropdown:hover .dropdown-content 
{
    display: block;
}

.dropdown:hover .dropbtn 
{
    background-color: transparent;
}